<h1>Listing mmms</h1>

<table id="mmms" class="display" data-source="<%= mmms_url(format: "json") %>">
  <thead>
    <tr>
      <th>Mdu tkd</th>
      <th>Adress</th>
      <th>Porch</th>
      <th>Ip</th>
      <th>Sys name</th>
      <th>Ingress</th>
      <th>Mod</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Mmm', new_mmm_path %>
